header {
  height: 100px;
  display: flex;
  align-items: center;
  background: #e0ba11; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #02ff96,
    #b403fa
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d11922,
    #82649b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header > img {
  height: 80%;
  margin-left: 10%;
}

header > p {
  font-family: VT323, monospace;
  color: rgb(0, 0, 0);
  font-size: 50px;
  margin-left: 60px;
}

body {
  margin: 0;
  background-color: rgb(34, 170, 0);
}

* {
  box-sizing: border-box;
}
